body {
    font-family: "Poppins", "sans-serif";
}
header, .nav_links, .pricing, .gallery {
    display: flex;
    flex-direction: column;
}
#logo {
    width: 100%;
    height: auto;
}

.nav_links {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.pricing {
    min-width: 100%;
}

.gallery {
    min-width: 100%;
}
h3 {
    background-color: #288080;
}
#image1, #image2, #image3, #image4, #image5 {
    border: #50C7C7 solid 5px;
}
.card {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

@media screen and (min-width: 700px) {
    header, .nav_links, .pricing, .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #logo {
        width: 400px;
        height: auto;  
        transition-property: color;
        transition-duration: 3s;
    }
    .nav_links {
        justify-content: flex-end;
    }

    .gallery {
        justify-content: space-around;
    }
    .pricing {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .card {
        width: 300px;
    }
    img {
        width: 300px;
    }
}
@media screen and (prefers-reduced-motion: reduce){
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none;
      transition: none;
    }
  }